<div class="container">
<% @users.each do |user| %>
<div class="card-list">
<div class="card-body">
<% if user.profile_image? %>
<%= image_tag user.profile_image.url, size: "70x60" %>
<% else %>
<%= image_tag ("default.png"), size: "70x60" %>
<% end %>
<%= link_to user.name, user_path(user.id) %>
<% end %>
</div>
</div>
</div>