<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>MyPage <%= @user.name %></p>
<% if @user.profile_image? %>
  <%= image_tag @user.profile_image.url %>
<% else %>
  <%= image_tag("default.png") %>
<% end %>