<section>
  <div class="home_container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1><img class="logo" src="/assets/app_logo.png"></h1>
        <h4 class="text-center">運動を継続したいあなたへ</h4>
        <div>
          <div class="text-center text-lg-start">
            <%= link_to "今すぐはじめる", new_user_registration_path, class: 'btn btn-outline-dark rounded-pill' %>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-danger rounded-pill' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 home_img">
        <img src="/assets/undraw_fitness_tracker.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>