<div id="home-container">
<section id="heading">
<div class="heading-inner">
<div class="heading-lead">
<h2 class="heading-lead-title">
<img class="owner_icon" src="/assets/app_logo.png">
</h2>
<p class="heading-lead-text">"積み上げる✗エクササイズ"</p>
ログイン
ゲストログインボタン
</div>
</div>
<div class="heading-icon">
写真
</div>
</section>

<section id="about" class="contents">
<h2 class="util-title">
<span class="util-title-inner">Tumiekuとは？</span>
</h2>
</section>
３つ
カテゴリ登録
グラフ機能
フォロー機能
<section id="features" class="contents">
<h2 class="util-title">
<span class="util-title-inner">その他の特徴</span>
</h2>
<div class="features-content">
<div class="features-list">
<div class="features-item">
<h3 class="features-item-title">
<span class="features-item-title-inner">いいね機能</span>
</h3>
<p class="features-item-text">いいね機能の説明</p>
</div>
<div class="features-item">
<h3 class="features-item-title">
<span class="features-item-title-inner">Lvアップ機能</span>
</h3>
<p class="features-item-text">レベルアップの説明</p>
</div>
<div class="features-item">
<h3 class="features-item-title">
<span class="features-item-title-inner">ランキング</span>
</h3>
<p class="features-item-text">ランキング機能の説明</p>
</div>
</div>
</div>
</section>
<section id="about" class="contents">
<h2 class="util-title">
<span class="util-title-inner">Tumiekuをはじめよう</span>
</h2>
登録1分で完了します
アカウント登録ボタン
ゲストログイン
</section>
</div>