/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
.mw-md {
  max-width: 576px;
}
// ナビバー
header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav-item.active {
  margin-top: 5px;
  padding-left: 30px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,164,92)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand>p {
  color: #F16821;
  font-size: 36px;
  padding: 10px 10px;
  font-weight: 900;
  line-height: 34px;
  font-family: 'Noto Sans JP', sans-serif;
}
// フラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-danger;
}
// ページネーション
.pagination>li>a {
  color: #696969;
}
.page-item.active .page-link {
  background: #FAB95B;
  border-color: #FAB95B;
}
// ホバー
.pagination>li>a:hover {
  border-radius: 15px;
}
h1 {
  text-align: center
}
// ボタン
.btn.btn-outline-dark.btn-lg.rounded-pill {
  border-color: #F16821;
  color: #F16821;
  margin: 20px;
}
.btn.btn-outline-dark.btn-lg.rounded-pill:hover {
  background-color: #F16821;
  border-color: #F16821;
  color: #FBF6F0;
}
// アカウント削除ボタン
.btn.btn-outline-danger.btn-lg.rounded-pill {
  border-color: #1A3263;
  color: #1A3263;
  margin: 20px;
}
.btn.btn-outline-danger.btn-lg.rounded-pill:hover {
  background-color: #1A3263;
  border-color: #1A3263;
  color: #FBF6F0;
}
// 目標設定
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal-bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal-content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.js-modal-close {
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #687678;
}
// エクササイズ登録画面
.card {
  margin: 120px 20px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #ccc;
}
.card-title {
  margin: 40px;
}
// 登録エクササイズ一覧
.card-list {
  margin: 40px 5px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #ccc;
}
.card-body>p {
  font-size: 20px;
}
.card-body>i {
  margin-left: 10%;
}
.material-icons {
  color: #1A3263;
}
.image_icons {
  border-radius: 60%;
  margin-right: 10px;
}