<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      <div class="card text-center" style="height: 24rem;">
        <div class="card-body center">
          <h4 class="card-title">エクササイズを登録しよう！</h4>
          <%= form_with model: @exercise, local: true do |form| %>
          <%= form.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="form-group row justify-content-center">
          <%= form.submit button_value, class: 'btn btn-outline-dark btn-lg rounded-pill' %>
          <%= link_to "もどる", user_path(id: current_user.id), class: 'btn btn-outline-dark btn-lg rounded-pill' %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>