<div class="contents-title text-center">
  <h1>登録エクササイズ一覧</h1>
</div>
<% @exercises.each do |exercise| %>
<div class="card-list">
<div class="card-body">
<p><%= exercise.name %>
<% if current_user.id == exercise.user_id %>
<%= link_to "編集", edit_exercise_path(exercise) %>
<%= link_to "削除", exercise_path(exercise), method: :delete, data: { confirm: "削除しますか？" } %>
<% end %>
</p>
</div>
</div>
<% end %>
<%= link_to "エクササイズ登録へ", new_exercise_path %>