<h1>登録エクササイズ一覧</h1>
<table>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td>運動 <%= exercise.name %></td>
        <td>
          <% if current_user.id == exercise.user_id %>
            <%= link_to "編集", edit_exercise_path(exercise) %>
            <%= link_to "削除", exercise_path(exercises), method: :delete, data: { confirm: "削除しますか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>